/* ----- Rojo institucional ----- */
:root {
  --udp-red: #D71920;
  --udp-red-light: #FF5A5F;
  --udp-red-dark: #990F14;
}

/* Tema claro */
[data-md-color-scheme="default"] {
  --md-primary-fg-color: var(--udp-red);
  --md-primary-fg-color--light: var(--udp-red-light);
  --md-primary-fg-color--dark: var(--udp-red-dark);
  --md-accent-fg-color: var(--udp-red);
}

/* Tema oscuro */
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: var(--udp-red);
  --md-primary-fg-color--light: var(--udp-red-light);
  --md-primary-fg-color--dark: var(--udp-red-dark);
  --md-accent-fg-color: var(--udp-red);
}

